<h1>Clientes</h1>
<div class="pagina-em-branco">
    <button (click)="sairPagina()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </button>
    <div class="card">
        <div class="container">
            <h1>Formulário</h1>

            <div class="linha">
                <div class="campo">
                    <label for="apelido">Apelido</label>
                    <input type="text" id="apelido" name="apelido" placeholder="Ex: Cliente123">
                </div>
              
            </div>

            <div class="linha">
                <div class="campo">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" id="razaoSocial" name="razaoSocial" placeholder="Ex: Minha Empresa Ltda.">
                </div>
                <div class="campo">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" id="nomeFantasia" name="nomeFantasia" placeholder="Ex: Minha Empresa">
                </div>
            </div>

            <div class="linha">
                <div class="campo">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" id="cnpj" name="cnpj" placeholder="Ex: 12.345.678/0001-90">
                </div>
                <div class="campo">
                    <label for="cidade">Cidade</label>
                    <input type="text" id="cidade" name="cidade" placeholder="Ex: São Paulo">
                </div>
            </div>

            <div class="linha">
                <div class="campo">
                    <label for="cep">CEP</label>
                    <input type="text" id="cep" name="cep" placeholder="Ex: 12345-678">
                </div>
                <div class="campo">
                    <label for="estado">Estado</label>
                    <input type="text" id="estado" name="estado" placeholder="Ex: SP">
                </div>
            </div>

            <div class="linha">
                <div class="campo">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco" placeholder="Ex: Rua Exemplo, 123">
                </div>
            </div>

            <div class="botoes">
                <button class="grid-item-button" type="submit">Adicionar</button>
                <button class="grid-item-button2" type="button"(click)="sairPagina()" >Cancelar</button>
            </div>
        </div>
    </div>
</div>