
<h1>Clientes</h1>
<div class="pagina-em-branco">
    <button (click)="sairPagina()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </button>
    <div class="card">
      <div class="container">
        <h1>Formulário</h1>
    
        <div class="linha">
          <div class="campo">
            <label for="apelido">Apelido</label>
            <input type="text" id="apelido" name="apelido">
          </div>
          <div class="campo">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
          </div>
        </div>
        
        <div class="linha">
          <div class="campo">
            <label for="razaoSocial">Razão Social</label>
            <input type="text" id="razaoSocial" name="razaoSocial">
          </div>
          <div class="campo">
            <label for="nomeFantasia">Nome Fantasia</label>
            <input type="text" id="nomeFantasia" name="nomeFantasia">
          </div>
        </div>

          <div class="linha">
            <div class="campo">
              <label for="cnpj">CNPJ</label>
              <input type="text" id="cnpj" name="cnpj">
            </div>
          <div class="campo">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade">
          </div>
        </div>
    
        <div class="linha">
          <div class="campo">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep">
          </div>
          <div class="campo">
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado">
          </div>
        </div>
        <div class="linha">
          <div class="campo">
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" name="endereco">
          </div>
        </div>

    
        <div class="botoes">
          <button class="grid-item-button" type="submit">Adicionar</button>
          <button class="grid-item-button2" type="submit">Cancelar</button>
        </div>
      </div>
    </div>