.pagina-em-branco {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color: white; /* Cor de fundo da página em branco */
    z-index: 99999; /* Certifique-se de que a página está na frente de outros elementos */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px; /* Espaçamento interno para o botão "X" */
  }

  button {
    background-color: transparent;
    display: flex;
    align-self: start;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 4.2rem;
  }
  @media screen and (max-width: 600px) {
    button {
      background-color: transparent;
      display: flex;
      align-self: start;
      border: none;
      font-size: 24px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: 3px;
    }
  }