h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color:var(--icon-menu);
    font-size: 22px;
    background-color: var(--body);
    padding: 15px;
    margin: 50px auto 0 auto;
  }

  .Menu-Linha ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: -5px;
  
  }
  
  .Menu-Linha li {
    margin: 1px 40px;
  }
  
  .Menu-Linha a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px ;
    border:none;
    text-align: center;
    font-size: 13px;
  }
  .Menu-Linha a:hover{
      border-bottom: 4px solid #007bff;
      color: #52a1f6;
  }
  
  .Menu-Linha li a.active {
      border-bottom: 4px solid #007bff;
      color: #007bff;
  }
  
    .card{
      height: 100vh;
      width: auto;
      padding: 10px;
      margin-top: -6px;
      margin-bottom: 5px; 
      background-color: var(--body);
      border-radius: 1px;
    }
    
  
  @media screen and (max-width: 690px){
    .Menu-Linha li {
      margin: 0 5px;
    }
    .Menu-Linha a {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      border:none;
      text-align: center;
    }
     .Menu-Linha li a.active {
      border-bottom: 4px solid #007bff;
      color: #007bff;
  }
  .Menu-Linha a:hover{
    border:none;
    color: #52a1f6;
}
  }
  @media screen and (max-width: 420px){ 
    .Menu-Linha li {
      margin: 0 5px;
    }
    .Menu-Linha a {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      border:none;
      text-align: center;
    }
    .Menu-Linha li a.active {
      border: none;
      color: #007bff;
  }
  .Menu-Linha a:hover{
    border:none;
    color: #52a1f6;
}
  }