<h1>Cadastro de Lojas</h1>
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="grid-form">
  
    <mat-form-field id="loja" class="grid-item grid-item-medium">
      <mat-label>Loja</mat-label>
      <input matInput formControlName="loja" required>
    </mat-form-field>

    <mat-form-field id="email" class="grid-item grid-item-medium">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field id="telefone" class="grid-item grid-item-small">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" required>
    </mat-form-field>

    <mat-form-field id="totalVendido" class="grid-item grid-item-small">
        <mat-label>Total Vendido</mat-label>
        <input matInput formControlName="totalVendido" required>
    </mat-form-field>
    
    
    <mat-form-field id="endereco" class="grid-item grid-item-medium">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco" required>
    </mat-form-field>


    <button class="grid-item-button" type="submit">Salvar</button>
    <button class="grid-item-button2" type="button">Cancelar</button>
</form>

<h2>Tabela de Lojas Cadastradas</h2>
<table>
  <thead>
    <tr>
      <th>Loja</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Total Vendido</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loja of lojas; let i = index">
      <td>{{ loja.loja }}</td>
      <td>{{ loja.telefone }}</td>
      <td>{{ loja.email }}</td>
      <td>{{ loja.endereco }}</td>
      <td>{{ loja.totalVendido }}</td>
      <td>
        <button class="material-symbols-outlined edit" (click)="editarLoja(i)">
          edit
        </button>
        <button class="material-symbols-outlined delete" (click)="excluirLoja(i)">
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
