.header {
  position: fixed;
  top: 0;
  right: 60px;
  left: 72px;
  max-width: calc(100% - 70px);
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--menu-superior);
  border: none;

}




.search-container {
  display: flex;
  align-items: center;
  width: 300px;
height: 25px;
flex-shrink: 0;
  padding: 5px;
  margin-left: 10px;
  border:none;
  border-radius: 20px;
  background-color: #D8E0E7;;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: #D8E0E7;;
  width: 150px;
}

.search-container button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
}
.search-container button span {
  font-size: 17px;
  font-weight: 400;
}
.icon-container {
  display: flex;
  align-items: center;
  
}
h4{
  margin: 10px;
}

.icon-notifica {
  display: flex;
  justify-content: flex-end; /* Alinha os elementos no final do contêiner */
  align-items: center;
  width: 75px;
  height: 19px;
  padding: 15px;
  background:none;
  border-radius: 20px;
  margin: 5px;
  
  
}


.icon-notifica span {
 appearance: none;
  color: var(--icon-menu-color);
  margin-right: 0px;
  padding: 5px;
  font-size: 22px;
  font-weight: 900; 
  
  
}

.icon-container {
  display: flex;
  align-items: center; /* Alinha a imagem verticalmente no centro */
  justify-content: center; /* Alinha a imagem horizontalmente no centro */
}


.icon-container img {
  width: 35px;  
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}

.mat-menu-content {
  padding: 10px;
  
}

.mat-menu-item {
  display: flex;
  align-items: center;
  padding: 10px;

}


.icon-perfil {
  display: flex;
  align-items: center;

}
.icon-perfil, i{
  margin-right: 10px;
  font-size: 17px;
}

@media (max-width: 600px) {
  .header {
    height: 50px;
  }
  .search-container {
    display: flex;
    align-items: center;
    width: 240px;
  height: 25px;
  flex-shrink: 0;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border:none;
    border-radius: 20px;
    background-color: #D8E0E7;;
  }
  .icon-notifica {
    display: flex;
    justify-content: flex-end; /* Alinha os elementos no final do contêiner */
    align-items: center;
    width: 75px;
    height: 19px;
    padding: 15px;
    background:none;
    border-radius: 20px;
    margin: 15px 5px 5px 5px;
    
  }
  .icon-container img {
    width: 35px;  
    height: 35px;
    border-radius: 50%;
    margin: 15px 5px 5px 5px;
  }
  
}

@media (max-width: 500px) {
  .search-container {
    display: none;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    flex: 1;
  }

 
}

@media (max-width: 444px) {
  .search-container {
    display: none;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    flex: 1;
  }

}
