.header {
  position: fixed;
  top: 0;
  right: 60px;
  left: 72px;
  max-width: calc(100% - 70px);
  height: 50px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--menu-superior);
  border: none;

}

.search-container {
  display: flex;
  align-items: center;
  width: 334px;
  height: 19px;
  padding: 5px;
  margin-left: 134px;
  border:none;
  border-radius: 20px;
  background-color: #D8E0E7;;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: #D8E0E7;;
  width: 150px;
}

.search-container button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
}
.search-container button span {
  font-size: 17px;
  font-weight: 400;
}
.icon-container {
  display: flex;
  align-items: center;
  
}

.icon-notifica {
  display: flex;
  justify-content: flex-end; /* Alinha os elementos no final do contêiner */
  align-items: center;
  width: 75px;
  height: 19px;
  padding: 5px;
  background-color: #c2c1c1;
  border-radius: 20px;
  margin: 5px;
  
}


.icon-notifica span {
 appearance: none;
  color: var(--icon-menu-color);
  margin-right: 3px;
  font-size: 20px;
  font-weight: 700; 
  
  
}

.icon-container {
  display: flex;
  align-items: center; /* Alinha a imagem verticalmente no centro */
  justify-content: center; /* Alinha a imagem horizontalmente no centro */
}


.icon-container img {
  width: 30px;  
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.mat-menu-content {
  padding: 10px;
  
}

.mat-menu-item {
  display: flex;
  align-items: center;
  padding: 10px;

}


.icon-perfil {
  display: flex;
  align-items: center;

}
.icon-perfil, i{
  margin-right: 10px;
}

@media (max-width: 600px) {
  .header {
    height: 50px;
  }
}

@media (max-width: 570px) {
  .search-container {
    display: none;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    flex: 1;
  }

  .notificatioNone {
    display: none;
  }
  
}

@media (max-width: 444px) {
  .search-container {
    display: none;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    flex: 1;
  }

  .notificatioNone {
    display: none;
  }
}
