<h1>Perfil do Cliente</h1>
    <div class="cliente-info">
        <p><span class="info-label">Nome:</span> <span class="info-value">Seu Nome</span></p>
        <p><span class="info-label">Idade:</span> <span class="info-value">Sua Idade</span></p>
        <p><span class="info-label">Email:</span> <span class="info-value">seu.email@example.com</span></p>
        <p><span class="info-label">Telefone:</span> <span class="info-value">Seu Número de Telefone</span></p>
        <p><span class="info-label">Endereço:</span> <span class="info-value">Seu Endereço Completo</span></p>
        <!-- Adicione mais informações relevantes do cliente aqui, conforme necessário -->
    </div>
