<div class="container">
  <div class="sidebar sub-closes">
    
    <div class="logo-details">
      <img src="../assets/img/icon.png" alt="">
    </div>


    <ul class="nav-links">

      
      <li (click)="activateIcon(1)" [ngClass]="{ 'active': activeIcon === 1 }">
        <a>
          <span>
            <i class="bx bx-grid-alt " [ngClass]="{ 'active': activeIcon === 1 }">
              <h5 [ngClass]="{ 'active': activeIcon === 1 }">Dashboard</h5>
            </i>
          </span>
         
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(2)" [ngClass]="{ 'active': activeIcon === 2 }">
        <a>
          <i class="bx bx-collection" [ngClass]="{ 'active': activeIcon === 2 }">
            <h5 [ngClass]="{ 'active': activeIcon === 2 }">Category</h5>
          </i>
          
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Category</a></li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">PHP & MySQL</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(3)" [ngClass]="{ 'active': activeIcon === 3 }">
        <a>
          <i class="bx bx-pie-chart-alt-2" [ngClass]="{ 'active': activeIcon === 3 }">
            <h5 [ngClass]="{ 'active': activeIcon === 3 }">Analytics</h5>
          </i>
          
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Analytics</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(4)" [ngClass]="{ 'active': activeIcon === 4 }">
        <a>
          <i class="bx bx-line-chart" [ngClass]="{ 'active': activeIcon === 4 }">
            <h5 [ngClass]="{ 'active': activeIcon === 4 }">Chart</h5>
          </i>
         
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(5)" [ngClass]="{ 'active': activeIcon === 5 }">
        <a>
          <i class="bx bx-plug" [ngClass]="{ 'active': activeIcon === 5 }">
            <h5 [ngClass]="{ 'active': activeIcon === 5 }">Plugins</h5>
          </i>
          
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Plugins</a></li>
          <li><a href="#">UI Face</a></li>
          <li><a href="#">Pigments</a></li>
          <li><a href="#">Box Icons</a></li>
        </ul>
      </li>

      <button class="icon-modoesculo" (click)="alternarModoTema()">
        <span *ngIf="!isModoEscuroAtivado">
          <i class="bx bx-sun"></i> <!-- Ícone do sol para o modo claro -->
        </span>
        <span *ngIf="isModoEscuroAtivado">
          <i class="bx bx-moon"></i> <!-- Ícone da lua para o modo escuro -->
        </span>
      </button>
    </ul>
    
  </div>
</div>
