
<body>
  
  <div class="login-container">
    
    <div class="image-container">
      <img src="./assets/img/images11.png" alt="Imagem de exemplo">
    </div>
    
    <div class="form-container ">
      <p>{{ errorMessage }}</p>
      <img src="./assets/img/pn-r.png" alt="Imagem de exemplo">
      <h2>Login</h2>
      <form (submit)="onLogin(username.value, password.value)">
        <div>
          <label for="username">Email:</label>
          <input type="email" id="username" #username required>
        </div>
        <div>
          <label for="password">Senha:</label>
          <input type="password" id="password" #password required maxlength="50">
        </div>
        <a href="caminho_para_recuperacao_de_senha">Esqueceu sua senha?</a>
        <button type="submit">Entrar</button>
      </form>
      
    </div>
  </div>
</body>