
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--body);
    
}

:root {
  --icon-menu: blue;
    --body: #383838;
    --menu-lateral: #fffffff5;
    --menu-superior: #bcf0fe;
    transition: 2s;
}

.modo-claro {
    --icon-menu: blue;
    --body: #ecf3f5;
    --menu-lateral: #fffffff5;
    --menu-superior: #ecf3f5;
    transition: 5s;
    --tema-icon:#000000;
  }
  
  .modo-escuro {
    --icon-menu: #fff;
    --body: #160251;
    --menu-lateral: #000000;
    --menu-superior: #160251;
    transition: 5s;
    --tema-icon:#fffffff5;
  }
  