html,
body {
  height: 100%;

}
body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(83, 83, 83);
}


:root {
  --icon-menu: rgb(71, 20, 222);
  --body: #F5F5F5;
  --menu-lateral: #fffffff5;
  --menu-superior:#F5F5F5;
  transition: 2s;
  --tema-icon: #000000;
  --icon-menu-color:#000000;
}

.modo-claro {
  --icon-menu: #5a5a5a;
  --body: #ecf3f5;
  --menu-lateral: #fffffff5;
  --menu-superior: #ecf3f5;
  transition: 5s;
  --tema-icon: #000000;
  --icon-menu-color:#000000;
}

.modo-escuro {
  --icon-menu: #a8a7a7;
  --body: #252631;
  --menu-lateral: #191919;
  --menu-superior: #252631;
  transition: 5s;
  --tema-icon: #eeecec;
  --icon-menu-color:#ffffff;
}

.nasaModoClaro{
  --icon-menu: #96d7eb;
  --body: #dcfff7;
  --menu-lateral: #fbfffe;
  --menu-superior: #fbfffe;
  --tema-icon: #000000;
  --icon-menu-color: #000000;
  transition: 5s;
}
.nasaModoEscuro{
  --icon-menu: #ffffff;
  --body: #030b64;
  --menu-lateral: #423e97;
  --menu-superior: #423e97;
  transition: 5s;
  --tema-icon: #eeecec;
  --icon-menu-color:#ffffff;
}