<h1>Configurações</h1>
<div class="Menu-Linha">
    <ul>
        <li><a routerLink="geral"  routerLinkActive="active">Geral</a></li>
        <li><a routerLink="perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="contas"routerLinkActive="active">Contas e Importação</a></li>
        <li><a routerLink="caixa"routerLinkActive="active">Caixa de entrada</a></li>
        <li><a routerLink="labs"routerLinkActive="active">Labs</a></li>
       
       
    </ul>
</div>

<div class="card">
    <router-outlet></router-outlet>
</div>
