<h1>Cadastro de Fornecedores</h1>
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="grid-form">
  
    <mat-form-field id="empresa" class="grid-item grid-item-medium">
      <mat-label>Empresa</mat-label>
      <input matInput formControlName="empresa" required>
    </mat-form-field>

    <mat-form-field id="telefone" class="grid-item grid-item-medium">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" required>
    </mat-form-field>

    <mat-form-field id="email" class="grid-item grid-item-medium">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
    </mat-form-field>
    
    <mat-form-field id="totalCompras" class="grid-item grid-item-medium">
        <mat-label>Total de Compras</mat-label>
        <input matInput formControlName="totalCompras" required>
    </mat-form-field>


    <button class="grid-item-button" type="submit" >Salvar</button>
    <button class="grid-item-button2" type="submit" >Cancelar</button>
</form>

<h2>Tabela de Fornecedores Cadastrados</h2>
<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Total de Compras</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fornecedor of fornecedores; let i = index">
      <td>{{ fornecedor.Empresa }}</td>
      <td>{{ fornecedor.Telefone }}</td>
      <td>{{ fornecedor.Email }}</td>
      <td>{{ fornecedor.TotalCompras }}</td>
      <td>
        <div class="ButtonEditDelete">
          <button class="material-symbols-outlined edit" (click)="editarFornecedor(i)">
            edit
          </button>
          <button class="material-symbols-outlined delete" (click)="excluirFornecedor(i)">
            delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>