<div class="container">
  <div class="sidebar sub-closes">
    <div class="logo-details">
      <img src="../assets/img/icon.png" alt="" />
    </div>

    <ul class="nav-links">
      <li
        (click)="activateIcon(1)"
        [ngClass]="{ active: activeIcon === 1 }"
      >
        <a routerLink="app-painel-controle">
          <i class="bx bx-grid-alt" [ngClass]="{ active: activeIcon === 1 }">
            <h5>Dashboard</h5>
          </i>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a routerLink="app-painel-controle" class="link_name" >Dashboard</a>
          </li>
        </ul>
      </li>

      <li
        (click)="activateIcon(2)"
        [ngClass]="{ active: activeIcon === 2 }"
      >
        <a>
          <span>
            <i
              class="bx bx-select-multiple"
              [ngClass]="{ active: activeIcon === 2 }"
            >
              <h5 [ngClass]="{ active: activeIcon === 2 }">Tickets</h5>
            </i>
          </span>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a routerLink="#" class="link_name" href="#">Tickets</a>
          </li>
        </ul>
      </li>

      <li (click)="activateIcon(3)" [ngClass]="{ active: activeIcon === 3 }">
        <a routerLink="app-tasks">
          <i class="bx bx-task" [ngClass]="{ active: activeIcon === 3 }">
            <h5 [ngClass]="{ active: activeIcon === 3 }">Tasks</h5>
          </i>
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="app-tasks">Tasks</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(4)" [ngClass]="{ active: activeIcon === 4 }">
        <a routerLink="app-tasks">
          <i
            class="bx bx-pie-chart-alt-2"
            [ngClass]="{ active: activeIcon === 4 }"
          >
            <h5 [ngClass]="{ active: activeIcon === 4 }">Projetos</h5>
          </i>
        </a>
        <ul class="sub-menu blank">
          <li><a routerLink="app-tasks"
             class="link_name" href="#">Projetos</a></li>
        </ul>
      </li>

      <li (click)="activateIcon(5)" [ngClass]="{ active: activeIcon === 5 }">
        <a>
          <i class="bx bx-detail" [ngClass]="{ active: activeIcon === 5 }">
            <h5 [ngClass]="{ active: activeIcon === 5 }">Ordens de Serviço</h5>
          </i>
        </a>
        <ul class="sub-menu">
          <li>
            <a
              class="link_name"
              href="#"
              [ngClass]="{ active: activeIcon === 5 }"
              >Ordens de Serviço</a
            >
          </li>
          <li><a routerLink="app-home2">UI Face</a></li>
          <li><a href="#">Pigments</a></li>
          <li><a href="#">Box Icons</a></li>
        </ul>
      </li>
      <li (click)="activateIcon(6)" [ngClass]="{ active: activeIcon === 6 }">
        <a>
          <i
            class="bx bxs-user-account"
            [ngClass]="{ active: activeIcon === 6 }"
          >
            <h5 [ngClass]="{ active: activeIcon === 6 }">Clientes</h5>
          </i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Clientes</a></li>
        </ul>
      </li>
      <li (click)="activateIcon(7)" [ngClass]="{ active: activeIcon === 7 }">
        <a>
          <i class="bx bx-stats" [ngClass]="{ active: activeIcon === 7 }">
            <h5 [ngClass]="{ active: activeIcon === 7 }">Rotas</h5>
          </i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Rotas</a></li>
        </ul>
      </li>
      <li (click)="activateIcon(8)" [ngClass]="{ active: activeIcon === 8 }">
        <a>
          <i class="bx bx-briefcase" [ngClass]="{ active: activeIcon === 8 }">
            <h5 [ngClass]="{ active: activeIcon === 8 }">Tools</h5>
          </i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Tools</a></li>
        </ul>
      </li>
      <div class="logo-details2">
        <img src="../assets/img/iconCaixa.png" alt="" />
      </div>
      <button class="icon-modoesculo" (click)="alternarModoTema()">
        <span>
          <i *ngIf="isModoEscuroAtivado" class="bx bxs-sun"></i>
          <i *ngIf="!isModoEscuroAtivado" class="bx bx-sun"></i>
        </span>
      </button>
    </ul>
  </div>
</div>
