.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--menu-lateral);
  z-index: 1;
  transition: all 0.5s ease;
  width: 4.2rem;

}

.sidebar .logo-details {
  margin: 10px auto;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details img {
  display: flex;
justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: 1px auto 19px auto;
  border-radius: 4px;
}

.sidebar .nav-links {
  display: flex;
 flex-direction: column;
 align-items: center;
  height: 100%;
  padding: 1px 0 50px 0;
  overflow: visible;
  margin:10px 5px;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  margin-top: 1px;
  list-style: none;
  transition: all 0.4s ease;
}
.bx-detail{
  padding-bottom:10px ;
}

.sidebar .nav-links li:hover {
  background: #dbdbdb;
  color: #464646;
  padding: 1px;
 width: 4.2rem;
  border-radius: 25% 0 25% 0;
}


.sidebar .nav-links li i {
  margin-top: 10px;
  margin-left: 1px;
  height: 38px;
  min-width: 70px;
  text-align: center;
  line-height: 11px;
  color: var(--icon-menu-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

h5 {
  margin-top: 7px;
  font-size: 11px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 500;
}

.sidebar .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 15px 80px;
  margin-top: -10px;
  background: #c6c3c3;
  display: none;
  border-radius: 10%;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: rgb(40, 40, 41);
  font-size: 12px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
  color: #2e28f1;
}

.sidebar.sub-closes .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 1px;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.sub-closes .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar.sub-closes .nav-links li .sub-menu .link_name {
  font-size: 17px;
  margin-bottom: 10px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li.active i,
.sidebar .nav-links li.active h5 {
  color: var(--icon-menu);
}



.sidebar .logo-details2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Adicione esta propriedade para posicionar a legenda corretamente */
}

.sidebar .logo-details2 img {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: 60px 10px 5px 10px;
  border-radius: 10px;
  color: var(--tema-icon);
}

.sidebar .logo-details2 p {
  display: flex;
  text-align: center;
  margin-top: 1px; /* Espaçamento entre a imagem e a legenda */
  margin-left: 5px;
  font-size: 11px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: var(--icon-menu-color);
}



.icon-modoesculo {
  border: none;
  background-color: transparent;
  color: var(--tema-icon);
  height: 20px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 2px;
}
@media screen and (max-width: 320px){
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--menu-lateral);
    z-index: 1;
    transition: all 0.5s ease;
    width: 4.2rem;
    overflow: hidden;
  }
  .sidebar .logo-details img {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 25px;
    width: 25px;
    min-width: 25px;
    margin: 5px auto 0 auto;
    border-radius: 4px;
  }
  .sidebar .logo-details2 img {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin: 15px ;
    position: relative;
    bottom: 20px;
    border-radius: 10px;
    color: var(--tema-icon);
    
  }
  .icon-modoesculo {
    border: none;
    background-color: transparent;
    color: var(--tema-icon);
    height: 20px;
    text-align: center;
    font-size: 30px;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 4px;
  }
}