<h1>Clientes <span class="material-symbols-outlined">arrow_forward</span> {{titleApelido}} </h1>
<div class="Menu-Linha">
    <ul>
        <li><a routerLink="information"routerLinkActive="active">Informações  </a></li>
        <li><a routerLink="circutos" routerLinkActive="active">Circutos  </a></li>
        <li><a routerLink="contratos"routerLinkActive="active">Contratos  </a></li>
        <li><a routerLink="contatos"routerLinkActive="active">Contatos  </a></li>
        <li><a routerLink="tickets"routerLinkActive="active">Tickets  </a></li>

       
    </ul>
</div>

<div class="card">
 <router-outlet></router-outlet>
</div>
