<mat-toolbar class="header">
  <div class="search-container">
    <button>
      <span class="material-symbols-outlined">
        search
        </span>
    </button>
    <input type="text" placeholder="Procurar..." />
  </div>
  <div class="icon-container">
    <div class="icon-notifica">
      <mat-menu #notificationMenu="matMenu">
        <button mat-menu-item *ngFor="let notification of notifications">
          <span>{{ notification.texto }}</span>
        </button>
      </mat-menu>
      
      <span class="material-symbols-outlined notificatioNone" mat-icon-button
      [matMenuTriggerFor]="notificationMenu">
        notifications
    </span>

    <span class="material-symbols-outlined">
      settings
      </span>
    </div>
    <img
      src="assets/img/perfil.png"
      alt="Imagem de Perfil"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    />
    <mat-menu  #menu="matMenu">
      <button mat-menu-item class="icon-perfil">
        <i class="material-symbols-outlined">person</i>
        <span>Perfil</span>
      </button>
      <button mat-menu-item class="icon-perfil">
        <i class="material-symbols-outlined">settings</i>
        <span>Configurações</span>
      </button>
      <button mat-menu-item class="icon-perfil">
        <i class="material-symbols-outlined">logout</i>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
