.card {
    height: 100%;
    width: 630px;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--body);
    border-radius: 1px;
  }
  .card-flutuante {
    position: fixed;
    top: 50%; /* Ajuste a posição vertical conforme necessário */
    left: 50%; /* Ajuste a posição horizontal conforme necessário */
    transform: translate(-50%, -50%);
    z-index: 9999; /* Garanta que o card flutuante esteja na parte superior */
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.material-symbols-outlined{
background-color: #fff;
border-radius: 40px;
color: #4CAF50;

}

.card-flutuante p {
    margin-left: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 16px;
    font-weight: bold;
}
.card-erro {
  background-color: #d53714; /* Cor de fundo vermelha para mensagem de erro */
  color: #fff;
  font-weight: bold;
}

.mensagem-erro {
  background-color: #d53714; /* Cor de fundo vermelha para mensagem de erro */
  color: #fff;
  font-weight: bold;
}

.mensagem-erro p {
  margin-left: 10px; /* Espaçamento entre o ícone e o texto */
  font-size: 16px;
}
.iconError{
  background-color: #fff;
  border-radius: 40px;
  color: #ff4652;
  font-weight: bold;
}

.card-confirmacao-exclusao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%); /* Cor de fundo do cartão */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 40px;
  z-index: 9999; /* Certifique-se de que o cartão esteja na parte superior */
}
.antecao{
  background: none;
border-radius: 20px;
color: #3a3411;
font-size: 35px;

}

.confirmacao-exclusao p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.btn-confirmar-exclusao, .btn-cancelar-exclusao {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-confirmar-exclusao {
  background-color: #e74c3c; /* Cor de fundo do botão de confirmação */
  color: #fff; /* Cor do texto do botão de confirmação */
}

.btn-cancelar-exclusao {
  background-color: #3498db; /* Cor de fundo do botão de cancelamento */
  color: #fff; /* Cor do texto do botão de cancelamento */
}

.btn-confirmar-exclusao:hover, .btn-cancelar-exclusao:hover {
  background-color: #c0392b; /* Cor de fundo do botão ao passar o mouse */
}

  h1 {
    color: #333;
  }
  
  .linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
    background: none;
  }
  
  .campo {
    flex: 1;
    margin-right: 25px;
    margin-left: -10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: start;
    font-size: 12px;
    
  }
  
  input[type="text"] {
    all: unset;
    width: 85%;
    padding: 10px;
    margin: 30px;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
   background: none
  }
  input[type="text"]:focus,
  input[type="text"]:hover,
  input:active
  {
    border-bottom: 1px solid #000000;
  }

  #apelido{
    margin: 0 150px 10px -10px ;
    width: 100%;
  }

  #endereco,#apelido,#razaoSocial,#cnpj,#nomeFantasia{
    margin: 0 150px 10px -10px ;
    width:95%;
  }
  #cep,#cidade,#estado{
    margin: 0 150px 5px -10px;
    
    
    
  }

  #id{
    margin: 0 150px 5px 5px;
    width: 85%;
  }
  .id{
    padding-left: 20px;
  }
  
    .botoes {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    
  
 
  .grid-item-button,.grid-item-button2 {
   
    padding: 20px;
    background-color: #007BFF;
    color: #fffdfd;
    text-align: center;
    font-weight: bold;
    border: 5px solid rgb(5, 5, 183);
    width: 110px;
    height: 70px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    
    
  }
  .grid-item-button3 {
   
    padding: 20px;
    background-color: #ff1d2c;
    color: #fffdfd;
    text-align: center;
    font-weight: bold;
    border: 5px solid rgb(203, 39, 39);
    width: 110px;
    height: 70px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    
    
  }
  .grid-item-button:hover, .grid-item-button2:hover {
    background-color: #0056b3;
  }
  .grid-item-button3:hover{
    background-color: #ff0011;
  }
  @media screen and (max-width: 810px){
  
    .card {
      height: 100%;
      width: 600px;
      padding: 10px;
      margin-top: 60px;
      background-color: var(--body);
      border-radius: 1px;
    }
    #apelido{
      margin: 0 150px 10px -10px ;
      width: 100%;
    }
  
    #endereco,#apelido,#razaoSocial,#cnpj,#nomeFantasia{
      width:95%;
    }
    #cep,#cidade,#estado{
      margin: 0 150px 5px -10px;
      
      
      
    }
  
    #id{
      margin: 0 150px 5px 5px;
      width: 85%;
    }
    .id{
      padding-left: 20px;
    }
  }
  
  
  @media screen and (max-width: 640px) {
    .pagina-em-branco {
      position: fixed;
      top: 0;
      left:0;
      width:100%;
      height: 100%;
      background-color: white; /* Cor de fundo da página em branco */
      z-index: 99999; /* Certifique-se de que a página está na frente de outros elementos */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 20px; /* Espaçamento interno para o botão "X" */
      overflow: auto;
    }
    button {
      background-color: transparent;
      display: flex;
      align-self: start;
      border: none;
      font-size: 24px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: 3px;
    }
    .card {
      height: 100%;
      width: 400px;
      padding: 10px;
      margin-top: 60px;
      background-color: var(--body);
      border-radius: 1px;
    }
    .linha {
      display: flex;
      flex-direction: column; /* Empilha os campos verticalmente */
      align-items: flex-start;
      margin-top: 0;
      padding: 5px ;
      width:100%;
  }
  
  .campo {
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
  }
  #endereco,#apelido,
  #cep,#cnpj,#razaoSocial,
  #id,#cidade,#estado,
  #nomeFantasia{
    margin: 5px 150px 10px -10px ;
    width:100%;
  }
  .botoes {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 10px;
    
  }
  
  .grid-item-button,.grid-item-button2 {
   
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    
  }
  
  .grid-item-button:hover {
    background-color: #0056b3;
  }
  
  }
  @media screen and (max-width: 408px) {
    .card {
      height: 100%;
      width: 300px;
      padding: 10px;
      margin-top: 60px;
      background-color: var(--body);
      border-radius: 1px;
    }
  }