<div class="home-container">
  <header>
    <!-- Aqui você pode adicionar o cabeçalho da sua página -->
    <h1>Bem-vindo à Página de Home!</h1>
  </header>
  <main>
    <!-- Aqui você pode adicionar o conteúdo principal da sua página -->
    <h3>
      Nos tornamos maiores porque priorizamos o sucesso dos nossos clientes. Com
      dedicação, inovação e uma equipe apaixonada, nos destacamos no mercado.
      Nossa busca pela excelência e satisfação dos clientes impulsiona nosso
      crescimento contínuo. Investimos em tecnologia de ponta e soluções
      personalizadas para oferecer as melhores opções. Valorizamos o trabalho em
      equipe, reconhecendo a importância de cada membro. Nossa paixão pela
      inovação nos impulsiona a superar desafios e encontrar soluções criativas.
      Mantemos nossos valores, sendo uma empresa ética e comprometida com o
      bem-estar de nossa equipe e comunidade. Essa combinação de dedicação,
      inovação e integridade nos faz crescer a cada dia. Estamos empolgados com
      o futuro e em fazer a diferença no mundo das telecomunicações.
    </h3>

    <div class="linha">
      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card1.jpg"
          alt="Imagem 1"
        />
        <mat-card-content>
          <p>
            Quando se trata de conectividade, somos imbatíveis!<br />
            Oferecemos a melhor solução em telecomunicações no Brasil. 💪🌍
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card2.jpg"
          alt="Imagem 2"
        />
        <mat-card-content>
          <p>
            Ofereça o melhor para seus clientes.<br />
            Todos saem ganhando com as rotas estratégicas e otimizadas para
            IPTV.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card3.jpg"
          alt="Imagem 3"
        />
        <mat-card-content>
          <p>
            Conectividade nota 10 é aquela que mantém seus clientes conectados
            sem interrupções, garantindo que possamos trabalhar, estudar e nos
            divertir sem problemas.<br />
            Com a nossa conexão, você pode contar com uma internet de alta
            velocidade e estabilidade, sempre pronta para atender às suas
            necessidades. 📶👨‍💻🎮
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="linha">
      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card4.jpg"
          alt="Imagem 4"
        />
        <mat-card-content>
          <p>
            O Brasil é o quinto maior país do mundo, e ainda assim a Wixnet está
            presente em todo o território nacional.<br />
            Conte com nossa equipe e opere a nível nacional com todo amparo e
            proteção que uma das maiores empresas do mundo do setor pode
            proporcionar.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card5.jpg"
          alt="Imagem 5"
        />
        <mat-card-content>
          <p>
            Reduza o ping de seus clientes e tenha uma conexão mais rápida e
            estável com nossas soluções especializadas!<br />
            🎮💨 Nossos serviços de otimização garantem seus clientes tenham uma
            boa experiência de jogabilidade e sem atrasos. ⚡️🚀
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <img
          mat-card-image
          src="/assets/img/CardInicial/card6.jpg"
          alt="Imagem 6"
        />
        <mat-card-content>
          <p>
            Uma operadora de Telecom como você nunca viu antes.<br />
            Serviços de conectividade de alta capacidade para o seu provedor.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Seção de Contato -->
    <section class="contato">
      <h2>Entre em Contato</h2>
      <p>Utilize os meios de contato disponíveis para falar conosco:</p>

      <!-- Aqui você pode adicionar o formulário de contato -->
    </section>
  </main>
</div>
