/* styles.css */

/* Estilos gerais */

/* Estilos para a página de home */
.home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--body);
}

header {
  background-color: var(--menu-lateral);
  color: var(--icon-menu);
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}

main {
  padding: 20px;
}

h3 {
  color: var(--icon-menu);
  font-size: 20px;
  text-align: justify;
}

p {
  text-align: justify;
}

img {
  margin: 10px;
  border-radius: 10px;
}

.linha {
  display: flex;
  flex-wrap: wrap; /* Garante que os cards se ajustem em telas menores */
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  flex: 1; /* Os cards ocupam o espaço disponível horizontalmente */
  max-width: 450px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a seção de contato */
.contato {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 72px;
}

/* Media Query para telas menores */
@media screen and (max-width: 600px) {
  .card {
    max-width: 100%; /* Os cards ocupam toda a largura da tela em telas menores */
    margin-bottom: 10px; /* Espaçamento entre os cards */
  }
}
