<h1>Clientes</h1>

<div class="card">
    <body> 
        <div class="botoes">
            <a routerLink="../formulario" >
                <button>
                    <span class="material-symbols-outlined buttonIcon">
                        add
                    </span>
                    <h4>Novo</h4>
                </button>
            </a>
        </div>
        
        <table>
         
            <tbody>
                <tr *ngFor="let cliente of tarefas; let i = index">
                    <td>{{ cliente.apelido }}</td>
                    <td> Wix-{{ cliente.id }}</td>
                    <td>
                        <span class="material-symbols-outlined iconTable" (click)="navegarParaInformation(cliente.ip)">
                            more_vert
                          </span>
                    </td>
                  </tr>
            </tbody>
          </table>
          
        </body>
</div>
