/* Estilize o cabeçalho "Clientes" */
h1 {
    display: flex;
    align-items: center;
    color: var(--icon-menu);
    font-size: 25px;
    background-color: var(--body);
    padding: 20px;
    margin: 60px auto 0 auto;
  }
  
  /* Adicione o espaçamento ao redor do site */
  body {
    height: 100%;
    margin: 20px;
  }
  
  /* Estilize a div dos botões */
  .botoes {
    display: flex;
    justify-content: flex-start; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
    text-align: center;
    border: 1px solid gray ;
    border-left: none;
    border-right: none;
    background-color: #dddddd;
    padding: 5px;
  }
  
  
  /* Estilize os botões */
  button {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    display: flex; /* Permitir alinhamento horizontal */
    align-items: center; /* Centralizar verticalmente */
  }
  button:hover{
    background-color: #1a16ff;
    color: #ffffff;
    transition: 0.3s;
  }
  /* Estilize o ícone */
  .buttonIcon {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    font-size: 15px;
  }
  
  /* Estilize o texto */
  h4 {
    margin: 0; /* Remover margem padrão do h4 */
    font-size: 10x;
    text-decoration: none;
    
  }
  a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor padrão do link */
  }
  /* Estilize a tabela */
  table {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    color: var(--icon-menu-color);
  }
  
  /* Remova as bordas das células, exceto a borda inferior */
  th,
  td {
    border: none;
    border-bottom: 1px solid #464646; /* Adicione a borda de baixo */
    text-align: left;
    padding: 8px;
  }
  
  .text-Table{
   padding-top: -15px;
  }
  /* Estilize o ícone na tabela */
  .iconLinha {
    padding-top: 7px;
    
    text-align: center;
    width: 33px;
  height: 28px;
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    font-size: 20px;
    background-color: #dadada;
    color: #000000;
    border-radius: 50%;
  }
  
  /* Estilize o cabeçalho da tabela */
  th {
    background-color: #f2f2f2;
  }
  
  /* Adicione um espaçamento no topo da tabela */
  table thead {
    border-top: 1px solid #dddddd;
  }
  
  /* Adicione um espaçamento na parte inferior da tabela (opcional) */
  table tbody {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Estilize o contêiner "card" */
  .card {
    height: 100%;
    width: auto;
    padding: 10px;
    margin-top: -6px;
    background-color: var(--body);
    border-radius: 1px;
  }
  
  
  .iconTable {
    display: flex;
    justify-content: flex-end;
  }
 
  

  
 